@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--dark-clr);
  display: flex;
  justify-content: center;
  padding: 3vw;
}

:root {
  --light-clr: #d4d4d4;
  --faded-light: #dfdfdf;
  --darker-light: #c2c2c2;
  --dark-clr: #15191f;
  --faded-dark: #333942;
  --button: #e0212a;
  --button_lighter: #e62c36;
  --button_darker: #cc1c25;
  --sun: #f0db4f;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --radius: 8px;
}

/* Light Switch */
.switch {
  position: relative;
  display: inline-block;
  border-radius: 1rem;
  cursor: pointer;
  width: 60px;
  height: 30px;
  overflow: hidden;
}

.checkbox {
  opacity: 0
}

.slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-clr);
  transition: .4s;
}

.slider::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 40%;
  height: 80%;
  border-radius: 100%;
  transform: translateY(-50%);
  border: 4px solid var(--light-clr);
  background-color: var(--dark-clr);
  transition: 0.4s;
}

.slider::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  border-radius: 100%;
  transform: translate(40%, -20%);
  background-color: var(--light-clr);
  transition: 0.4s;
}

.checkbox:checked + .slider {
  background-color: var(--dark-clr);
}

.checkbox:checked + .slider::before {
  border: 4px solid var(--dark-clr);
  background-color: var(--sun);
  transform: translate(90%, -50%);
}

.checkbox:checked + .slider::after {
  width: 0;
  height: 0;
  background-color: var(--light-clr);
}

/* themes */
.dark-theme {
  color: var(--light-clr);
  background-color: var(--dark-clr);
}

.dark-text {
  color: var(--dark-clr) !important;
}

.light-theme {
  color: var(--dark-clr);
  background-color: var(--light-clr);
}

.light-text {
  color: var(--light-clr) !important;
}

/* Color Palette */
.container {
  height: 50vh;
  width: max-content;
}

.header {
  font-size: 2rem;
  text-align: center;
  margin-top: 8vh;
  font-weight: var(--fw-700);
  text-transform: uppercase;
  color: var(--light-clr);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2vw;
}

.card {
  width: 12vw;
  height: 35vh;
  display: grid;
  margin: 10vh 0;
  border: 0.2vw solid rgba(51, 57, 66, 0.3);
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
  border-radius: var(--radius);
  /* background: var(--dark-clr); */

  &:hover {
    transition: all 0.2s ease-in-out;
    border: 0.2vw solid rgba(51, 57, 66, 0.7);
  }
}

.color-container {
  border-radius: var(--radius);
  background-color: #000;
}

.color-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-clr);
  font-size: 1rem;
  font-weight: var(--fw-600);
}

.colorBtn {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  color: var(--faded-dark);
  font-size: 1rem;
  font-weight: var(--fw-600);
  letter-spacing: 0.2rem;
  padding: 2vh 6vw;
  text-transform: uppercase;
  border-radius: var(--radius);
  border: 0.2vw solid rgba(244, 244, 244, 0.3);
  cursor: pointer;
  border-radius: var(--radius);
  background: var(--button_lighter);

  &:hover {
    transition: all 0.2s ease-in;
    color: var(--dark-clr);
    background-color: var(--button);
    border: 0.2vw solid rgba(244, 244, 244, 0.5);
  } &:active {
    background-color: var(--button_darker);
  }
  
}

button svg {
  margin-right: 1vw;
}